.container {
    overflow: hidden;
    .bg1 {
        background-image: url("./../../../public/images/background/bg5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: zoomburns 40s infinite;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
    }

    .cover {
        bottom: 10vh;
        left: 5vw;
        position: absolute;

        .image{
            width: 21vw;
        }

        .timmerFixed {
            position: relative;
            top: 20%;
        }

        .headerInnerText {
            display: none;
        }
    }

    @media screen and (max-width: 1100px) {
        .bg1 {
            background-image: url("../../../public/images/background/bg4.jpg");
        }

        .cover {
            bottom: 10vh;
            left: 5vw;
        }
        .image {
            width: 40vw !important;
        }
    }

    @media screen and (max-width: 500px) {
        .bg1 {
            background-image: url("../../../public/images/background/bg4.jpg");
        }

        .cover {
            bottom: 10vh;
            left: 5vw;
        }
        .image {
            width: 40vw !important;
        }
    }
}

@keyframes zoomburns {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

