.container {
    background: #fbf6f9;
    padding: 5vh 0vh;
    
    .title {
        font-family: Rochester-73E4;
        font-size: x-large;
        letter-spacing: 20px;
        color: #e6195d;
    }
}